player-connection-mode=Listen
player-connection-guid=2882355031
player-connection-debug=0
player-connection-project-name=Exercise 1
player-connection-ip=172.23.4.238
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c7d3ee2f8f42417ca0d70f86b69eec87
